body {
    background: radial-gradient(#525252, #131313);
    color: #ffffff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #86c1ff;
}

nav li {
    padding-left: 30px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
    color: #000000;
}

a {
    color: #cae2fb;
    text-decoration: none!important;
}

a.navbar-brand {
    color: #ffffff;
    margin-bottom: 0;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-toggler {
    /* margin-left: 99%; */
}

.navbar-collapse-shrink {
    padding-left: 7rem;
}

.btn-publish {
    background-color: #1abc9c;
    color: #ffffff;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #ffffff;
}

.card {
    margin-bottom: 3%;
}

.card-header {
    background-color: #ffffff;
    border-bottom: groove 1px #1b0c0c08;
    width: 100%;
    text-align: left;
}

.card-selected {
    margin-top: 3%;
}

.contact, .about {
    color: #ffffff;
    text-decoration: none;
}

.title {
    padding-left: 0;
}

@media (max-width: 1100px) {
    .navbar-collapse-shrink {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        justify-content: space-between;
    }

    ul{
        text-align: center!important;
    }
}
